<table class="schedule">
  <tr>
    <th>Name</th>
    <% @versions.each do |v| %>
      <th class="side_border" ><%= " #{v.name} " %></th>
    <% end %>
    <th class="side_border">
      <form><a href=/schedules/new><button type="button">+Version</button></a></form>
    </th>
    <th>h/W</th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= "#{user.firstname} #{user.lastname}" %></td>
    <% @versions.each do |version| %>
      <td><%= @schedhash[[user.id, version.id]] %></td>
    <% end %>
    <td class="empty"></td>
    <td><%= "#{ava_time(user)}/#{ava_time(user)}" %></td>
  </tr>
  <% end %>
</table>
