<table>
  <tbody>
    <tr>
      <th>Shift Buffer</th>
      <td>
        <input type="number" id="budget_buffer" min = "0" max="100"
                           value="<%= settings['buffer'] %>"
                           name="settings[buffer]" >
      </td>
    </tr>
  </tbody>
</table>
