/*HTML Elements*/
a.button {
  font-size: 14px;
  text-decoration: none;
  color: initial;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

/*base layout*/
.container{
}

.head {
}

.main {
  width: 100%;
}

.title {
}

.nav {
  float: left;
  width: 310px;
  margin: 0px;
  border-right: 1px solid grey;
  padding: 1em;
}

.details {
  margin: 30px 0px 30px 10px;
  border: 1px inset;
  font-size: 16px;
}

.content {
  overflow: auto;
  margin-left: 20%;
  font-size: 16px;
}

.side_border {
  border-right: 1px solid;
  border-left: 1px solid;
}

/*schedule layout specific*/
.schedule_table {
  margin: 40px 0px 20px 20px;
  border-collapse: collapse;
  padding: 10px;
}

.schedule_table tr th {
  min-width: 100px;
  border-bottom: 1px solid;
  padding: 5px;
}

.schedule_table tr td {
  border: 1px solid #ddd;
  border-bottom: 1px solid;
  padding: 10px;
  text-align: left;
}

.schedule_table tr .empty {
  background-color: gainsboro ;
}

/*selection table layout specific*/
.select_table {
  padding: 15px;
  border-collapse: collapse;
  font-size: 18px;
}

.select_table tr {
}

.select_table tr th {
  padding: 10px;
  border-bottom: 1px solid;
}

.select_table tr td {
  padding-left: 5px;
  color: #3773d3;
  border-top: 2px dashed #ced5e0;
  border-bottom: 2px dashed #ced5e0;
}

.select_table .row:hover {
  cursor:pointer;
  background-color: gainsboro;
}

.user_table_wrapper {
  margin-left: 20px;
  margin-top: 20px
  width: 98%;
  overflow: auto;
}

.users_table tr td {
  padding-left: 10px;
}

.users_table tr:hover {
    background-color: #b9e2f6;
}
