.container{

}

.head {
}

.main {
  width: 100%;
}

.title {
}

.nav {
  float: left;
  max-width: 20%;
  border-right: 1px solid grey;
  margin: 0px;
  padding: 1em;
}

.details {
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.info {
  padding: 5px;
}

.content {
  overflow: auto;
  margin-left: 20%;
  font-size: 16px;
}

.schedule {
  margin-top: 40px;
  padding: 10px;
  border-collapse: collapse;
}

.schedule tr th {
  border-bottom: 1px solid;
  padding-bottom: 5px;
  min-width: 100px;
}

.schedule tr td {
  padding: 10px;
  border: 1px solid #ddd;
  border-bottom: 1px solid;
  text-align: left;
}

.schedule tr .empty {
  background-color: gainsboro ;
}

.side_border {
  border-left: 1px solid;
  border-right: 1px solid;
}

.version_table {
  border-collapse: collapse;
  padding: 15px;
  font-size: 18px;
}

.version_table tr {
}

.version_table tr th {
  border-bottom: 1px solid;
  padding: 10px;
}

.version_table tr td {
  border-top: 1px solid gray;
  padding-left: 5px;
}

.version_table .elem:hover {
  background-color: gainsboro;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}
